<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .wrapper{
            /*width:20px;*/
            /*min-width:200px;*/
            height: 10px;
            display: inline-block;
            background-color: #666666;
        }
        .content{
            height: 10px;
            width:100%;
        }
    </style>
</head>
<body>
       <div class="wrapper">
           <div class="content">fjweofjreiof43543543rreiofj</div>
       </div>
</body>
</html>